# dependencies
node_modules/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

.idea/
.turbo/

# Local Netlify folder
.netlify
