@import "./normalize.css";

:root {
    /* Theme */
    --bs-bg: #fff;
    --bs-text: #000;
    --bs-primary: #00ba9d;
    --bs-primary-transparent: #00ba9d28;
    --bs-accent: #09a5ee;

    /* Functional */
    --bs-link: var(--bs-accent);

    /* Fallback */
    --bs-margin-top: 0;
    --bs-margin-bottom: 0;
    --bs-margin-left: 0;
    --bs-margin-right: 0;
}

:root[data-scheme="dark"] {
    --bs-bg: #171717;
    --bs-text: #fff;
}

:root:not([data-platform="ios"]) .ios-only {
    display: none;
}

:root:not([data-platform="android"]) .android-only {
    display: none;
}

:root:not([data-scheme="dark"]):not([data-scheme="light"]) body {
    display: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: var(--bs-bg);
    color: var(--bs-text);
    font-size: 16px;
    margin: 0 var(--bs-margin-right) var(--bs-margin-bottom) var(--bs-margin-left);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.markdown-body {
    padding: 1.5rem 1rem;
    width: 100%;
    max-width: 768px;
}

.markdown-body pre {
    overflow-x: scroll;
}

.markdown-body img {
    width: 100%;
    border-radius: 0.75rem;
}

.markdown-body h1 {
    font-size: 2rem;
    margin: 1.5rem 0;
}

.markdown-body h2 {
    font-size: 1.75rem;
    margin: 1.5rem 0;
    display: flex;
    align-items: center;
}

.markdown-body h2::before {
    content: "";
    display: block;
    width: 2rem;
    height: 2rem;
    background-image: url("./h2-decoration.svg");
    background-size: cover;
    margin-inline-end: 0.75rem;
}

.markdown-body h3 {
    font-size: 1.5rem;
    margin: 1.25rem 0;
}

.markdown-body h4 {
    font-size: 1.25rem;
    margin: 1.25rem 0;
}

.markdown-body h5 {
    font-size: 1rem;
    margin: 1rem 0;
}

.markdown-body h6 {
    font-size: 0.8rem;
    margin: 1rem 0;
}

.markdown-body a {
    color: var(--bs-link);
    text-decoration: underline;
}

.markdown-body blockquote {
    background: var(--bs-primary-transparent);
    border-left: 0.25rem solid var(--bs-primary);
    padding: 0.25rem 1rem;
    margin: 0.25rem 0;
}

.markdown-body ul, .markdown-body ol {
    padding-left: 1.5rem;
    margin: 0.5rem 0;
}

.markdown-body p, .markdown-body li {
    line-height: 1.5;
}

.markdown-body p {
    margin: 0.5rem 0;
}
